@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color: hsl(53, 61%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    

}

.content{
    display: flex;
    border-radius: 20px;
    width: 50%;
    height: 70%;
    overflow: hidden;
}

.content img{
    width: 50%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 4%;
    background-color: rgb(255, 255, 255);
}

p{
    color: rgb(120, 120, 120);
    font-family: "Montserrat";

}
.info h1{
    font-family: "Montserrat";
}

.price{
    display: flex;
    gap: 20px;
    align-items: center;
}

.price h1{
    color:  hsl(156, 24%, 24%);
}

button{
    display: flex;
    width: 90%;
    height: 3em;
    background-color:  hsl(155, 48%, 37%);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 0;

}

#symbol{
    width: 2em;
}

button p{
    font-size: medium;
    color: rgb(255, 255, 255);
}

button:hover{
    background-color: rgb(19, 51, 14);
    transition: .2s;
    cursor: pointer;
}